* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Kdam+Thmor+Pro&family=Poppins:wght@200&family=Source+Sans+Pro:wght@200&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #16151d;
  color: white;
}
